после внесения изменений необходимо выполнить следующие действия:
    docker build . -t с тегом в формате auxxxxx/itam_hack_serviceYYYYMMDDHHMM (временная метка) 
    новый тег нужно вписать в файл .env
    если линукс то сделать source .env
    docker compose up -d
никогда не делай рестарт отдельного контейнера, только докер компоуз
проекто должен быть полностью покрыт логированием
новый код должен быть в стиле имеющегося кода в классах того же типа (сервис, репозиторий, модель, роутер)
авторизация должна проходить по jwt токену из заголовка Authorization, в нём хранится uid пользователя - это user_id
при добавлении изменений проверяй работу всех функций и роутов, не останавливайся пока не протестируешь все